<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<style>
    #main-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
</style>
<body class="mdc-typography">
<div id="main-card">
    {% block content %}
    {% endblock %}
</div>
</body>