{% extends 'base.html' %}
{% block content %}
<style>
    .gen-shorturl {
        position: absolute;
    }

    .all-urls {
        position: relative;
        top: 50%;
    }
</style>
<div class="gen-shorturl">
    <form action="{% url 'url_shorten' %}" method="post">
        {% csrf_token %}
        <label class="mdc-text-field mdc-text-field--outlined">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch"></span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" name="url" class="mdc-text-field__input" aria-labelledby="my-label-id">
        </label>
        <button class="mdc-button mdc-button--raised">
            <span class="mdc-button__label">Generate Short URL</span>
        </button>
    </form>
</div>
<div class="all-urls">
    <form action="{% url 'show_all_urls' %}" method="get">
        <input type="Submit" value="See All URLs" class="mdc-button mdc-button--raised"/>
    </form>
</div>
{% endblock %}